<!DOCTYPE HTML>
<html>
<head>
<% if @board %>
<title>/<%= @board.dir %>/ - <%= @board.name %></title>
<% else %>
<title>Ichiro</title>
<% end %>
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/2ch.css" title="2ch">
<link rel="alternate stylesheet" type="text/css" href="/stylesheets/headline.css" title="Headline">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="expires" content="-1">
</head>
<% if @resmode == false %>
<body class="board">
	<br>
	<div class="hborder"> 
		<div class="head">
			<%= @board ? @board.header : '<h1 style="text-align: center;">Ichiro</h1>' %>
		</div>
	</div>
<% else %>
<body class="read">
<% end %>
	