<!DOCTYPE HTML>
<html>
<head>
<title><%= settings.title %></title>
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/2ch.css" title="2ch">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="expires" content="-1">
</head>
<% if @resmode == false %>
<body class="board">
	<div class="hborder"> 
		<div class="head">
			<%= settings.header %>
		</div>
	</div>
<% else %>
<body class="read">
<% end %>
	