<%= erb :header, :layout => false %>
<div class="border">
	<div class="thread" style="text-align: center;">
		<br>
		<h2 style="color: #000000 !important;">Message</h2>
		<hr class="tophr">
		<%= @message %>
	</div>
</div>
<%= erb :footer, :layout => false %>